/* featuredNFTsSection.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.featured-nfts-section {
    padding: 80px 0;
    background-color: #000; /* Dark background for a retro feel */
    font-family: 'Press Start 2P', cursive; /* Pixelated font */
    color: #fff; /* Adjust text color for contrast */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 2px solid #FF4500; /* Bright border for header and footer */
    box-shadow: 5px 5px 0px #FF4500; /* Pixelated shadow */
}

.nft-item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    border: 4px solid #FF4500; /* Bold border for a pixelated look */
    border-radius: 0; /* Square edges */
    box-shadow: 4px 4px 0 #000000; /* Sharp shadow for depth */
}

.nft-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
    image-rendering: pixelated; /* Ensures images have a pixelated look */
}

.nft-item:hover img {
    transform: scale(1.05); /* Slight scale for interaction */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.nft-item:hover .overlay {
    opacity: 1;
}

h3 {
    font-size: 0.9rem; /* Adjust for pixelated font */
    text-transform: uppercase; /* Stylistic choice for retro feel */
    margin: 20px;
    background-color: #fff;
    color: #d60b0b; /* Text color for overlay */
}

.overlay p {
    font-size: 0.7rem; /* Adjust font size for description */
    margin-bottom: 5px;
    background-color: #000000;
    color: #d60b0b; /* Text color for overlay */
}

.overlay a {
    color: #000dfd; /* Link color for Twitter */
    text-decoration: none;
    background-color: #000000;

    font-weight: bold;
    font-size: 0.7rem; /* Adjust font size for Twitter link */
}

.overlay a:hover {
    text-decoration: underline;
}

/* Add additional styling as needed */
